@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Gabarito:wght@400..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Italiana&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.hidden {
  display: none;
}
*{
    font-family: "Poppins";
}

.cell{
    background-color: rgb(34, 34, 34);
    height: 60px;
    width: 60px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    
}

.gameboard{
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.cell p{
    color: white;
}



